$fonts_url: "https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap";
$secondary_bright: #fff3e0;
$secondary_main: #ffe0b2;
$secondary_dark: #ffcc80;
$primary_bright: #ffb74d;
$primary_main: #ff9800;
$primary_dark: #f57c00;