* {
  font-family: 'Work Sans', sans-serif !important;
  @include indents(0);
  user-select: none;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $secondary_main;
  border-radius: 4px;
  padding-right: 20px;
}

::-webkit-scrollbar-thumb {
  height: 5px;
  background: $secondary_dark;
  border-radius: 4px;

  &:hover {
    background: $primary_bright;
  }

  &:active {
    background: $primary_main;
  }
}